nav {
  padding: 2rem 0;
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      a {
        color: #fff;
        font-weight: 600;
        font-size: 1.4rem;
      }
    }
    ul {
      display: flex;
      align-items: center;
      li {
        margin: 0 2rem;
        a {
          color: #fff;
          font-weight: 600;
          font-size: 1rem;
        }
        &:nth-child(4) {
          padding: 10px 20px;
          border-radius: 4px;
          background-color: #ffaf29;
          border: 1px solid rgb(255, 175, 41);
          margin-right: 0;
          transition: all 0.3s ease-in-out;
          a {
            color: #000;
            &:hover {
              color: #fff;
            }
          }
          &:hover {
            background-color: #0b1e2e;
            border: 1px solid rgb(255, 175, 41);
            color: #fff;
          }
        }
      }
    }
  }
}
