.projects {
  .projects-container {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    .project-flex {
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
      &:first-child {
        margin-top: 0;
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
    .project-image {
      width: 100%;
      max-width: 550px;
      border-radius: 6px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
      }
    }
    .project-info {
      width: 100%;
      max-width: 600px;
      .project-heading,
      .project-challenges {
        h3 {
          color: #fff;
          font-size: 1.8rem;
        }
        p {
          color: #86909a;
          padding: 10px 0;
          line-height: 1.5;
        }
      }
      .project-languages {
        padding: 10px 0 0 0;
        h3 {
          color: #fff;
          font-size: 1.8rem;
        }
        .flex-languages {
          display: flex;
          flex-wrap: wrap;
          padding: 10px 0;
          span {
            margin: 0 10px;
            color: #86909a;
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
      .project-links {
        padding: 20px 0 0 0;
        a {
          margin: 0 16px;
          color: #fff;
          transition: color 0.3s ease-in-out;
          &:hover {
            color: #ffaf29;
          }
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}
